.carts{
    display: flex;
    padding: 0 60px;
    margin-top: 12px;
    gap: 30px;
}
.cart-sys{
   min-width: 799px;
   min-height: 320px;
   padding: 30px;
   background-color: white;
   border-radius: 10px;
   gap: 50px;
}  
.cart-items{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 180px;
    border-radius: 7px;
    color:black;
    background-color: white;
}
.cart-items .header{
    font-size: 24px;
    min-width: 300px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-weight: 700;
}
.cart-items .info{
    font-size: 16px;
    max-width: 450px;
}
.border{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.cart-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.remove{
    display: flex;
}
.price-slash{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.cart-mod{
    margin-left: auto;
}
.left{
    margin-left: 15px;
}
.right{
    margin-right: 15px;
}
.top{
    margin-top: 25px;
}
.cart-mod-img{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #FF7E1B;
    color: white;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
}
.cart-summary{      
        min-width: 330px;
        padding: 10px;
        border-radius: 7px;
        color:black;
        background-color: white;
        min-height: 140px;
}
.checkout-button{
    margin-top: 10px;
    width:  100%;
    color: white;
    background-color: #FF7E1B;
    height: 40px;
    border: none;
    border-radius: 7px;
}
.subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.border2{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.cart-summary h4{
margin-top: 10px;
margin-left: 15px;
}
.cart-summary h5{
    margin-top: 10px;
    margin-left: 15px;
}
.cart-contents{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cart-contents img{
    height: 150px;
    width: 150px;
}

.cart-price{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.cart-no-discount{
    font-size: x-large;
    font-weight: 900;
}
.cart-discount{
    display: flex;
    justify-content: center;
    color: hsl(26, 100%, 55%);
    background-color: hsla(26, 100%, 79%, 0.384);
    margin-left: 10px;
    padding: 5px;
    border-radius: 3px;
}
.cart-line-through{
    text-decoration: line-through;
    font-weight: 900;    
    color: rgb(102, 102, 102);
}


.checkout-sys{
    border-radius: 7px;
    color:black;
    background-color: white;
    padding: 30px;
 }


 .checkout-summary{                                                         
    min-width: 290px;
    padding: 20px;
    border-radius: 7px;
    color:black;
    background-color: white;
    max-height: 140px;
}
.checkout-summary h4{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.small-top p{
    margin-top: 5px;
}


/* .checkout-details{
    margin-top: 10px;
} */
.checkout-details h4{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.checkout-details-pay{
    min-height: 120px;
    width: 860px;
    margin-left: 60px;
    border-radius: 7px;
    color:black;
    background-color: white;
    padding: 20px;
}

.checkout-details-pay h4{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.checkout-details2{
    margin-top: 50px;
}

.checkout-details2 h4{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.checkout-flex{
    display: flex;
    margin-bottom: 5px;
}
.checkout-flex h5{
    margin-left: 10px;
}
.proceed-btn{
    min-width: 860px;
    height: 35px;
    margin-top: 20px;
    background-color: #FF7E1B;
    color: white;
    font-weight: 800;
    border-radius: 7px;
    border: none;
}

.small-2{
    display: inline-flex;
    width: 15px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15px;
    background-color: red;
    color: white;
   position: absolute;
   top: 25px;
   left: 1185px;
}

.small-3{
    display: inline-flex;
    width: 15px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15px;
    background-color: red;
    color: white;
   position: absolute;
   top: 25px;
   left: 1200px;
}

.small-4{
    display: inline-flex;
    width: 15px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 15px;
    background-color: red;
    color: white;
   position: absolute;
   top: 25px;
   left: 1185px;
}

.pay {
    display: flex;
    align-items: center;
}
.pay img{
    margin-left: 10px;
}
.pay p{
    margin-left: 20px;
    font-weight: 600;
}

.voucher-input{
    height: 29px;
    width: 400px;
    outline: none;
    
}
.voucher-btn{
    width: 160px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #FF7E1B;
    color: white;
    font-weight: 800;
    border-radius: 2px;
    border: none;
}

.pay-margin h4{
    
    border-bottom: none;
}

.pay-subT {
    display: flex;
    justify-content: space-between;
    margin-bottom: -15px;
}

@media (max-width: 460px) {
    .carts{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .cart-sys{
        min-width: 0;
        border-radius: 7px 7px 0 0;
    }
    .cart-items{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .cart-contents{
        display: flex;
        flex-direction: column;
    }
    .cart-items .header{
        font-size: 24px;
        max-width: 360px;
    }
    .cart-items .info{
        font-size: 16px;
        max-width: 360px;
    }
   
    .cart-price{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 10px;
    }
    .cart-summary{
        margin-top: -30px;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .no-view{
        display: none;
    }
    .proceed-btn {
        max-width: 100%;
    }
}